In [13]:
import pandas as pd

df = pd.read_csv('data/201901-202003.csv')

In [6]:
#지역별 데이터 분류

In [14]:
#raw 데이터 그룹바이
df = df.groupby(['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC']).sum()

In [16]:
df.reset_index(inplace=True)

In [8]:
#원핫인코딩 코드
def myData(data, cols):
    # print(data[col])
    for col in cols:
        data = pd.concat([data, pd.get_dummies(data[col], prefix=col)] ,axis=1)
        data = data.drop(col, axis = 1)
    return data

In [19]:
#원한 인코딩 적용
cols = ['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM', 'AGE', 'SEX_CTGO_CD', 'FLC']
df = myData(df, cols)

In [20]:
df.to_csv('data_onehot_encoding.to_csv')

,REG_YYMM,CSTMR_CNT,AMT,CNT,CARD_SIDO_NM_강원,CARD_SIDO_NM_경기,CARD_SIDO_NM_경남,CARD_SIDO_NM_경북,CARD_SIDO_NM_광주,CARD_SIDO_NM_대구,...,AGE_50s,AGE_60s,AGE_70s,SEX_CTGO_CD_1,SEX_CTGO_CD_2,FLC_1,FLC_2,FLC_3,FLC_4,FLC_5
0,201901,4,311200,4,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,201901,44,5169295,45,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,201901,89,8618550,91,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,201901,3,454420,3,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,201901,53,6441165,60,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057389,202003,9,385700,10,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1057390,202003,10,790350,19,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1057391,202003,4,99000,6,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1057392,202003,6,228800,6,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
1057393,202003,3,51500,3,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1